.form {
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: solid 2px #c9c9c9;
	transition: border 0.3s;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}


.btn-login {
	text-shadow: none;
	color: white;
	border: 1px solid #ad4c4c;
	background-color: #ed6a5a !important;
}

.btn-login:hover {
	background-color: #ed5f5a;
	background-image: linear-gradient(to right top, #ed6a5a, #ec6059, #ec5559, #ea4a5a, #e93d5b);
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: rgb(175, 76, 76);
	text-decoration: none;
}

.form .register-form {
	display: none;
}

#imogaplogo img {
	padding-bottom: 10px;
	margin-top: -20px;
}